.add {
  color: red !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #191c1f;
  border-radius: 20px;
  padding: 1em !important;
  cursor: pointer;
}

.add:hover {
  scale: 1.1;
}
