input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  /* width: 7rem; */
  width: 100%;
  overflow: hidden;
  opacity: 100% !important;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: grey;
  height: 0.2rem;
}

input[type="range"]::-moz-range-track {
  height: 15px;
  background: grey;
  border-radius: 16px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: -4px; /* Centers thumb on the track */
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  box-shadow: -407px 0 0 400px white;
}

.cont-player-sm {
  position: fixed;
  bottom: 0.5em;
  left: 0.5em;
  right: 0.5em;
  background-color: rgb(35, 35, 35);
  z-index: 2;
  width: 90%;
}

.cont-player-sm p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cont-player-lg {
  z-index: 2;
}

.info {
  max-width: 90%;
}

.apple {
  filter: invert(75%);
}

.apple-col {
  background-color: #4d4d4d;
}

.selected {
  color: red;
}

.icon:hover {
  color: red;
  cursor: pointer;
}

/* input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-thumb {
  border: 1px solid white;
  outline: 3px solid white;
  outline-offset: 0.125rem;
} */
