.cont-news {
  position: relative;
  height: 350px;
}

h2 {
  cursor: pointer;
}

.cont-news .row {
  position: absolute;
  overflow-x: scroll;
  bottom: 0;
  left: 1.7em;
  right: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 350px;
}

.episodes {
  height: 300px;
  width: 100%;
  top: 2.5em;
}

@media screen and (min-width: 1200px) {
  .episodes {
    top: 0;
    height: auto;
  }
  .cont-news {
    height: auto;
  }
  .cont-news .row {
    position: static;
    height: auto;
  }
}
